@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">Online Tanzania Forest Services.</p>
    <hr class="my-4">
    <p>
        Tanzania Forest Services Agency (TFS) is a semi-autonomous government Executive Agency.
       
    </p>
   
</div>