@{
    ViewBag.ActiveMenu = "Transit Passes"; //The menu item will be active for this page.
    ViewBag.Title = "Transit Passes";
}

<div class="widget">
    <div class="widget-head">
        <div class="pull-left">Transit Pass Bill</div>
        <div class="widget-icons pull-right">

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="widget-content">
        <div class="padd">

            <div class="form-horizontal">
                    @using ReportViewerForMvc


                    @Html.ReportViewer(ViewBag.rptBill as Microsoft.Reporting.WebForms.ReportViewer)
            </div>
        </div>
    </div>
</div>





