@{
    ViewBag.ActiveMenu = "Home"; //The menu item will be active for this page.
    ViewBag.Title = "Dashboard"; 
}


<div class="row">
    <div class="col-md-12">
        <!-- List starts -->
        <ul class="today-datas">
            <!-- List #1 -->
            <li>
                <!-- Graph -->
                <div><span id="todayspark1" class="spark"></span></div>
                <!-- Text -->
                <div class="bold">1000 Bills/ Month</div>
            </li>
            <li>
                <div><span id="todayspark2" class="spark"></span></div>
                <div class="bold">300 Permits/ Month</div>
            </li>
            <li>
                <div><span id="todayspark3" class="spark"></span></div>
                <div class="bold">123 Transit Passes/ Month </div>
            </li>
            <li>
                <div><span id="todayspark4" class="spark"></span></div>
                <div class="bold">Tzs 12,000 Revenue/ Month</div>
            </li>
            <li>
                <div><span id="todayspark5" class="spark"></span></div>
                <div class="bold">Tzs 15,000,000 Revenue / Year</div>
            </li>
        </ul>
    </div>
</div>

<!-- Today status ends -->
<!-- Dashboard Graph starts -->

<div class="row">
    <div class="col-md-8">

        <!-- Widget -->
        <div class="widget">
            <!-- Widget head -->
            <div class="widget-head">
                <div class="pull-left">Dashboard</div>
                <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>

            <!-- Widget content -->
            <div class="widget-content">
                <div class="padd">

                  <div style="width:100%;height:250px" id="chart"></div>

                    <hr />
                    <!-- Hover location -->
                    <div id="hoverdata">
                        Mouse hovers at
                        (<span id="x">0</span>, <span id="y">0</span>). <span id="clickdata"></span>
                    </div>

                    <!-- Skil this line. <div class="uni"><input id="enableTooltip" type="checkbox">Enable tooltip</div> -->

                </div>
            </div>
            <!-- Widget ends -->

        </div>
    </div>

    <div class="col-md-4">

        <div class="widget">

            <div class="widget-head">
                <div class="pull-left">Today Status [@DateTime.Now.Date.ToShortDateString()]</div>
                <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="widget-content">
                <div class="padd">

                    <!-- Visitors, pageview, bounce rate, etc., Sparklines plugin used -->
                    <ul class="current-status">
                        <li>
                            <span id="status1"></span> <span class="bold">Revenue : 2000</span>
                        </li>
                        <li>
                            <span id="status2"></span> <span class="bold">Bills : 1,345</span>
                        </li>
                        <li>
                            <span id="status3"></span> <span class="bold">Transit Passes : 2000</span>
                        </li>
                        <li>
                            <span id="status4"></span> <span class="bold">Import Permits : 2000</span>
                        </li>
                        <li>
                            <span id="status5"></span> <span class="bold">Export Permits : 2000</span>
                        </li>
                        
                    </ul>

                </div>
            </div>

        </div>

    </div>
</div>
@section Scripts
{
<script type="text/javascript">

$(function () {

    /* Registration Pie Chart */

    var data = [];
    var series = Math.floor(Math.random() * 10) + 1;
    for (var i = 0; i < series; i++) {
        data[i] = { label: "Bill" + (i + 1), data: Math.floor(Math.random() * 100) + 1 }
    }

    $.plot('#chart', data, {
        series: {
            pie: {
                show: true,
                radius: 1,
                label: {
                    show: true,
                    radius: 3 / 4,
                    formatter: function (label, series) {
                        return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">' + label + '<br/>' + Math.round(series.percent) + '%</div>';
                    },
                    background: { opacity: 0 }
                }
            }
        },
        legend: {
            show: false
        }
    });

/* Pie chart ends */

});


</script>
}