@model IEnumerable<Misitu.Billing.Dto.BillItemDto>

<
<table class="table table-bordered">
    <tr>
    
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>     
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
   
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>      
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>     
    </tr>
}

</table>
