
@{
    ViewBag.Title = "User Create Success";
}

<div class="panel panel-info">
    <div class="panel-heading">
        <div class="pull-left"><span>Success</span></div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <div class="padd">
            <div class="alert-success">
                <p>User created successfull, please check the email provided for username and password for login in at <a href="@Url.Action("Login","Account")">Login Page</a></p>
            </div>
            </div>
        </div>
    </div>

