@if (Request.IsAuthenticated)
{
<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home", "Index", "Dashboard")</li>
    <li>@Html.ActionLink("About", "About", "Dashboard")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Dashboard")</li>
</ul>
}